<ion-header>
  <ion-segment [scrollable]="true" value="heart">
    <ion-segment-button value="home">
      <ion-icon name="home"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="star">
      <ion-icon name="star"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="call">
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="globe">
      <ion-icon name="globe"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="person">
      <ion-icon name="person"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content [fullscreen]="true" class="background">
  <img src="../../assets/traveling.png" alt="" class="logo">
  <br>
  <form action="">
    <ion-input label="Destino" label-placement="floating" fill="outline" placeholder="Insira Destino"></ion-input>
    <ion-item>
      <ion-select label="Pessoas" label-placement="Pessoas">
        <ion-select-option value="1 pessoa">1 pessoa</ion-select-option>
        <ion-select-option value="2 pessoas">2 pessoas</ion-select-option>
        <ion-select-option value="3 pessoas">3 pessoas</ion-select-option>
        <ion-select-option value="4 pessoas">4 pessoas</ion-select-option>
        <ion-select-option value="5 pessoas">5 pessoas</ion-select-option>
        <ion-select-option value="6 pessoas">6 pessoas</ion-select-option>
        <ion-select-option value="7 pessoas">7 pessoas</ion-select-option>
        <ion-select-option value="8 pessoas">8 pessoas</ion-select-option>
        <ion-select-option value="9 pessoas">9 pessoas</ion-select-option>
        <ion-select-option value="10 pessoas">10 pessoas</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-datetime color="blue">
      <span slot="title">Selecione uma data de entrada</span>
    </ion-datetime>
    <ion-datetime color="blue">
      <span slot="title">Selecione uma data de saída</span>
    </ion-datetime>
    
    <ion-button>Pesquisar</ion-button>
    
  </form>
  
  <h4>Os mais procurados</h4>
  
  
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/Kaanapali-Beach.jpg" class="cards"/>
    <ion-card-header class="card-header">
      <ion-card-title>Maui, Havaí</ion-card-title>
      <ion-card-subtitle>EUA</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/Varadero.jpg" class="cards"/>
    <ion-card-header class="card-header">
      <ion-card-title>Varadero Beach</ion-card-title>
      <ion-card-subtitle>Cuba</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/Spiaggia-dei-Conigli.jpg" class="cards"/>
    <ion-card-header class="card-header">
      <ion-card-title> Sicília </ion-card-title>
      <ion-card-subtitle>Itália</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>